.footerParallax {
  background-color: $blue-ultra-dark;
  color: $color-text-secondary;
  font-size: .8rem;

  a {
    margin: 1rem;
    color: $color-text-secondary;
    text-decoration: none;
    //list-style: none;
    //cursor: pointer;
    
  }:hover {
    text-decoration: none;
    color: $color-text-accent;
    
  }

  .copy{
    text-decoration: none;
    color: white;
    //cursor: none;
    font-size: .65rem;
    margin: .2rem;
  }

  hr{
    border: none;
    border-left:  1px solid hsla(200, 10%, 50%,100);
    height: auto;
    width:  1px;  
    margin-top: 20px;
  }
}

/*footer {
  background-color: $blue-ultra-dark;
  color: $color-text-secondary;
  position: relative;
  height: 30vh;
  padding: 10rem;
  display: flex;
  justify-content: space-between;

  div{
    background-color: $blue-ultra-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  a {
    margin: 1rem;
    color: $color-text-secondary;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
  }:hover {
    color: $color-secondary;
  }
}
}*/

.adverstising{
  display: flex;
  justify-content: center;
  font-size: .7rem;
  
  p{
    margin: .4rem;
    font-size: smaller;
    color: $color-text-secondary;

    a {
      color: $color-text-secondary;
      text-decoration: none;
      list-style : none;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
}