.formgye {
  margin: 0;
  height: 100%;
  width: 100%;
}

.contanier {
  box-sizing: border-box;
  min-height: 100vh;
  width: 70vw;
  margin: auto;
  transform-style: relative;
  background: $bg-body;
  margin: 2rem auto;

  .brand-container {
    display: flex;
    justify-content: flex-end;

    img {
      height: 56px;
      min-width: 56px;
    }
  }

  h1 {
    color: $color-text-secondary;
    font-weight: bold;
    margin: 20px 0px;
    font-size: 2rem;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  hr {
    width: 50%;
    margin: 3rem 0 0 0;
    border: 6px solid $color-secondary;
    border-radius: 0 0.3rem 0.3rem 0;

    @include media-breakpoint-down(sm) {
      & {
        border: 5px solid $color-secondary;
        border-radius: 0.3rem;
        width: 60%;
        margin: auto;
      }
    }

    @include media-breakpoint-only(md) {
      & {
        top: 21%;
        width: 23%;
      }
    }

    @include media-breakpoint-only(lg) {
      & {
        top: 21%;
        width: 38%;
      }
    }
  }

  .title-form {
    text-transform: uppercase;
    color: $color-text-secondary;
    font-weight: bold;
    margin: 5rem 0;
  }

  .btn-form {
    background-color: $blue-green;
    border: none;
    color: $color-text-secondary;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0px;
    font-weight: normal;
    box-shadow: inset -2px 1px 13px 2px #23232961;
  }
  :focus {
    outline: none;
  }

  .btn-selected {
    background-color: $color-text-secondary;
    border: none;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0px;
    font-weight: bold;
    box-shadow: 7px 7px 20px 0px #585c5f;
  }

  #btIdInstrum:hover {
    @extend .btn-selected;
  }
  #btIdHum:hover {
    @extend .btn-selected;
  }
  #btIdBms:hover {
    @extend .btn-selected;
  }

  .card-form {
    margin: auto;
    //min-height: 20rem;
    min-height: 40rem;
    background-color: white;
    border-radius: 20px;
    //box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),0 4px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 8px 8px 11px 2px #ffffff4a;
    padding: 3vh;
    margin-top: 4rem;
    margin-bottom: 0rem;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    line-height: 1.8;

    h4 {
      color: $color-primary;
      margin: 0px;
      font-style: normal;
      font-size: small;
      font-weight: 400;
      font-family: $font-title-primary;
      //line-height: 1.6;
    }

    .container-form {
      text-align: center;
      align-content: center;
      color: $color-text-accent;

      .btn-send {
        display: inline-block;
        font-weight: 400;
        color: white;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: $color-secondary;
        text-transform: uppercase;
        //border-color: #ffc107;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        }
      }

      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: x-small;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .textarea{
        resize:none;
        width:100%;
        height:80px;
      }
    }
  }
  .form-contact{
    min-height: 20rem; 
  }
}
