.header{
  position: relative;
  height: auto;
  color: #ffffff;
  /*top: 0;
  right: 0;
  left: 0;*/
  padding: 2rem 0;
  font-family: $font-title-primary;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2.2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
  }

  &--transparent{
    background-color: transparent;
    
    @include media-breakpoint-only(sm) {
      background-color: $gray-1;
    }

    @include media-breakpoint-only(xs) {
      background-color: $gray-1;
    }
  }

  &--solid{
    background-color: $gray-1;
  }
}
.header__container{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.header__brand{
  @include media-breakpoint-up(sm) {
    margin: auto;
  }
}

.brand__container{
  @include media-breakpoint-up(sm) {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.brand__minify{
  width: 60px;
  margin: auto;
  padding-right: .5rem;
}

.brand__text{
  display: none;
  height: 30px;
  @include media-breakpoint-up(lg) {
    display: block;

    &:hover{
      content: $img-logo-title-selected;
    }
  }

}

.header__menu{
  
}

.menu__image{
  width: 50px;
  height: 50px;

  &--open{
    content: $img-menu-selected;
  }

  &--close{
    content: $img-menu-normal;
  }

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.menu__options{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  a{
    color: $color-text-secondary;
    text-decoration: none;

    &:hover{
      color: $color-secondary;
    }

    li{
      padding: 1.2rem;
      @include media-breakpoint-up(sm) {
        padding: 0 .5rem;
      }

      @include media-breakpoint-up(md) {
        padding: 0 .7rem;
      }
    }
  }
  
  &--open{
    display: block;
  }

  &--close{
    display: none;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
}

.option__lang{
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.header__lang{
  width: 60px;
  a{
    font-size: 40px;
  }

  @include media-breakpoint-up(sm) {
    display: none;
  }
}