.container-landing {
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: initial;
  overflow-x: hidden;
}

.hero {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  transform-style: inherit;
  hr {
    width: 42%;
    top: 21%;
    left: 0;
    margin: 0;
    position: absolute;
    border: 6px solid $color-secondary;
    border-radius: 0 0.3rem 0.3rem 0;

    @include media-breakpoint-down(sm) {
      & {
        border: 5px solid $color-secondary;
        border-radius: 0.3rem;
        top: 15%;
        left: 0;
        right: 0;
        width: 60%;
        margin: auto;
      }
    }

    @include media-breakpoint-only(md) {
      & {
        top: 21%;
        width: 23%;
      }
    }

    @include media-breakpoint-only(lg) {
      & {
        top: 21%;
        width: 38%;
      }
    }
  }

  .impact-text {
    text-transform: uppercase;
    text-align: right;
    color: $color-text-secondary;
    top: 20%;
    right: 5%;
    margin: 0;
    min-height: 50vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1,
    h2,
    h3,
    h4 {
      margin: 0px;
      font-style: normal;
      font-size: 2.6rem;
      font-weight: 400;
      font-family: $font-title-primary;
      line-height: 1.6;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      right: 0;
      left: 0;

      margin-right: 20px;
      margin-left: 20px;

      h1,
      h2,
      h3,
      h4 {
        margin: 0px;
        font-style: normal;
        font-size: 1.8rem;
      }
    }

    @include media-breakpoint-up(sm) {
      font-family: $font-title-primary;
      font-weight: 400;
      font-style: normal;
      font-size: 45px;
      line-height: 1.6;
    }
  }

  .social-bar {
    position: absolute;
    top: 30%;
    left: 10%;

    a {
      color: white;
      margin: 30px;
      font-size: 2rem;

      @include media-breakpoint-only(lg) {
        & {
          margin: 10px;
          font-size: 1rem;
          justify-content: center;
        }
      }

      @include media-breakpoint-down(md) {
        & {
          margin: 10px;
          font-size: 0.8rem;
          justify-content: center;
        }
      }

      @include media-breakpoint-down(sm) {
        & {
          margin: 10px;
          font-size: 0.5rem;
          justify-content: center;
          text-align: end;
        }
      }
    }
    :hover {
      color: $color-secondary;
    }

    @include media-breakpoint-down(sm) {
      & {
        top: 0%;
        right: 0%;
        left: 0%;
        padding-inline-end: 0em;
        background-color: $color-accent;
      }
    }

    @include media-breakpoint-only(md) {
      & {
        top: 15%;
        right: 0%;
        left: 0%;
        padding-inline-end: 0em;
        margin-left: 20px;
      }
    }

    @include media-breakpoint-only(lg) {
      & {
        top: 15%;
        right: 0%;
        left: 5%;
        padding-inline-end: 0em;
        margin-left: 20px;
        //background-color:$color-accent;
      }
    }
  }
}

.hero,
.hero:before {
  background: 50% 50% / cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: $img-call-to-action;
  background-size: cover;
  transform-origin: center center 80;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.below-hero {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: $bg-body;
}

.we-do {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;

  .decoration-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
    content: $img-decoration-top;
  }

  .card-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 6rem;
    margin-left: 6rem;
    position: relative;
    min-height: 100%;

    .card-info {
      min-height: 37rem;
      background-color: white;
      border-radius: 6px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 3vh;
      margin-top: -4rem;
      margin-bottom: 0rem;
      font-weight: 400;
      font-style: normal;
      font-size: large;
      line-height: 1.8;

      hr {
        width: 20%;
        border: 2px solid $color-secondary;
        border-radius: 0.3rem;
      }

      h2 {
        line-height: 2;
      }

      p {
        width: 100%;
      }

      &.card-info:hover {
        //box-shadow: rgba(0, 0, 0, 0.55) 0px 19px 43px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4),
          0 4px 25px 0 rgba(0, 0, 0, 0.66);
        @include media-breakpoint-down(lg) {
          box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.4),
            0 4px 25px 0 rgba(255, 255, 255, 0.66);
        }
        transform: translate3d(0px, -2px, 0px);
      }
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    color: $color-text-secondary;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;

    hr {
      width: 20%;
      border: 0.3rem solid $color-secondary;
      border-radius: 0.3rem;
    }

    p {
      margin-top: 4rem;
    }
  }

  @include media-breakpoint-down(lg) {
    .card-list {
      margin-right: 1rem;
      margin-left: 1rem;

      .card-info {
        margin-top: 4rem;
        margin-bottom: 4rem;
        min-height: auto;
        //min-height: 40rem;
        //font-size: medium;

        h2 {
          line-height: 1.2;
        }

        p {
          margin-top: 4rem;
        }
      }

      .title {
        margin: 0;
      }
    }

    .decoration-top {
      visibility: hidden;
    }

    .title {
      position: relative;
    }
  }
}

.us-info {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;

  .decoration-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100vw;
    content: $img-decoration-bottom;
  }

  .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $color-text-accent;
    text-transform: uppercase;
    margin-bottom: 2rem;

    hr {
      width: 20%;
      border: 0.3rem solid $color-secondary;
      border-radius: 0.3rem;
    }
  }

  .description {
    color: $color-text-secondary;
    //font-family: $font-title-primary;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 2;
    width: 60%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: justify;
  }

  @include media-breakpoint-down(sm) {
    min-height: auto;
    padding-bottom: 10rem;

    .decoration-bottom {
      visibility: hidden;
    }

    .title {
      color: $color-text-secondary;
    }

    .description {
      width: 80%;
      //font-size: 16px;
      //.force-left{
      text-align: start;
      //}
    }
  }
}

.our-market {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  background-color: white;

  .market-item {
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    line-height: 1.6;

    .text-expand {
      padding: 4rem;
      margin: auto;
      .title {
        margin-bottom: 120px;
      }
      .image-small {
        width: 45px;
        height: 45px;
      }

      &:hover img {
        transform: scale(1.1);
        transition: transform 0.5s, filter 0.7s ease-in-out;
        transform: rotate(360deg);
      }
    }

    .image-expand {
      overflow: hidden;
      padding: 0;

      img {
        max-width: 100%;
        transition: transform 0.5s, filter 0.7s ease-in-out;
        filter: grayscale(0%);
      }

      &:hover img {
        filter: grayscale(60%);
        transform: scale(1.25);
      }
    }
  }
}

.fade-in-section {
  $directionToUp: translateY(20vh);
  $directionToDown: translateY(-20vh);
  $directionToRight: translateX(-20vh);
  $directionToLeft: translateX(20vh);

  &.to-up {
    transform: $directionToUp;
  }

  &.to-down {
    transform: $directionToDown;
  }

  &.to-right {
    transform: $directionToRight;
  }

  &.to-left {
    transform: $directionToLeft;
  }

  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.weather {
  color: white;
  text-align: center;
  font-size: small;
  position: absolute;
  top: 44%;
  left: 18%;

  h1 {
    font-weight: bold;
  }

  .weather-content {
    display: flex;

    label {
      margin: auto 1rem;
    }
  }

  .weather-img {
    width: 4rem;
    margin: auto 1rem;
  }

  @include media-breakpoint-down(lg) {
    top: 26%;
    left: 10%;
  }

  @include media-breakpoint-down(md) {
    top: 26%;
    left: 4%;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
