.services {
  margin: 0px;
  //height: 100%;
  width: 100%;
  //overflow-y: initial;
  overflow-x: hidden;
  background: white;
  
  /*.decoration-top-general{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100vw;
    content:$img-decoration-top-general;

    @include media-breakpoint-down(md) {
      display: none;
      content: none;
    }
  }*/
}  

.contanier-services{
  width: 70vw;
  margin: auto;
  color: $color-text-secondary;
  font-style: normal;
  font-size: small;

  .btn-form {
    background-color: $blue-green;
    border: none;
    color:  $color-text-secondary;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0px;
    font-weight: normal;
    //box-shadow: 0 5px 50px 0 rgba(0,0,0,0.2), 0 40px 60px 0 rgba(0,0,0,0.4);
    //box-shadow: 7px 7px 20px 0px #e6e8ea;
    box-shadow: inset -2px 1px 13px 2px #23232961;
  }:focus{
    outline: 0;
  }
  
  #btIdHvac:hover{
    @extend .btn-selected;
  }
  #btIdwater:hover{
    @extend .btn-selected;
  }

  .btn-selected {
    background-color: $color-text-secondary;
    border: none;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0px;
    font-weight: bold;
    //`-moz-box-shadow:    inset 0 0 5px #000000;
    //-webkit-box-shadow: inset 0 0 5px #000000;
    //box-shadow:         inset  0 0 11px 7px #eef0f3
    box-shadow: 7px 7px 20px 0px #585c5f;
  }:focus{
    outline: 0;
  }

  hr{
    width: 20%;
    margin-top: 4rem;
    margin-left: 0%;
    margin-bottom: 3rem;
    border: .3rem solid $color-secondary;
    border-radius: .3rem;     
    z-index: 30rem;
  }

  h1{
    color: $color-accent;//color: $color-text-secondary;;
    font-weight: bold;
    margin: 20px 0px;
    font-size: 2rem;
    @include media-breakpoint-down(md) {
      color: $color-accent;
      text-align: center;
    }
  }
  
  hr {
    width: 50%;
    margin: 3rem 0 0 0;
    border: 6px solid $color-secondary;
    border-radius: 0 0.3rem 0.3rem 0;

    @include media-breakpoint-down(sm) {
      & {
        display: none;
      }
    }
  }

  .services-list{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-height: 100%;

    .card-service{
      margin: 40px 5px;
      position: relative;
      height: 400px;
      background: $color-text-secondary;
      transition: 0.5s;

      .face{
        position: absolute;
        top: 0;
        left : 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }

      .face1{
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        background: white;
        color: $blue-ultra-dark;//#013d4a;

        .content{
          margin: 40px 0 0 0;

          a{
            display: inline-block;
            padding: 11px 10px;
            margin-top: 20px;
            text-decoration: none;
            color:$blue-ultra-dark;// #013d4a;
            border: 2px solid $blue-ultra-dark;//#013d4a;
            border-radius: 40px;
          }
          a:hover{
            color: white;
            background: $blue-ultra-dark;//#013d4a;
          }

        }
        
      .animado{
        
        opacity: 0;

      }
      }


      .face2{
        text-align: center;
        background: $blue-green;
        transition: 0.5s;
        padding: 12px 32px;
        box-shadow: inset -2px 1px 13px 2px #23232961;

        h2{
          font-size: 20px;
          transition: 0.5s;
          
        }
        
      }
    }
    
    .card-service:hover{
      //box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2);
      box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2), 0 40px 60px 0 rgba(0,0,0,0.4);

      .face2{
        margin-top: 30px;
        height: 80px;
        width: 80px;
        border-radius: 10%;
        top: 40;
        left: 50%;
        transform: translateX(-50%);
        color:$color-text-primary;
        background: transparent;
        box-shadow: none;
        
        h2{
          font-size: 25px;
        }
      }
    }
  }
}

