//@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url("https://use.typekit.net/qvv6kcd.css");

$font-primary: montserrat-alternates, sans-serif;

$font-title-primary : filicudi-solid, sans-serif;

$font-title-secondary: flegrei, sans-serif;

//Colors
$blue-ultra-dark: #233237;
$blue-dark : #0B3C5D;
$blue-light : #328CC1;
$blue-green : #013d4a;
$gray-ultra-light: #e3ebf8;
$yellow: #FFBD27;
$gray-1: #1D2731;
$gray-2: #404757;
$gray-3: #f4f4f4;

//Primary
$color-primary : $blue-light;
$color-secondary : $yellow;
$color-accent: $blue-ultra-dark;

//Text
$color-text-primary : $gray-2;
$color-text-secondary : white;
$color-text-accent : $blue-light;

//Grays
$bg-body: $gray-1;

$root-path: "/src/assets/static";
// $root-path: "/assets";

$img-logo: url("#{$root-path}/logo-light.png");
$img-logo-title: url('#{$root-path}/logo-title.png');
$img-logo-title-selected: url('#{$root-path}/logo-title-selected.png');
$img-call-to-action: url('#{$root-path}/bg-image-to-action.png');

$img-decoration-top: url('#{$root-path}/decoration-top.png');
$img-decoration-bottom: url('#{$root-path}/decoration-bottom.png');

$img-decoration-top-general: url('#{$root-path}/decoration-top-general.png');
$img-menu-normal: url('#{$root-path}/menu-normal.png');
$img-menu-selected: url('#{$root-path}/menu-selected.png');