html {
  margin: 0;
  padding: 10d;
  width: 100%;
  height: 100%;
  //overflow: hidden;
  overflow-x: hidden;
  font-size: 100%; /* 100% = 16px */
  
}
body {
  margin: 0;
  font-family: $font-primary;
  background: $bg-body;
  font-size: 1em;
  user-select: none;
}

.btn-go{
  a{
    position: absolute;
    top: 70%;
    left: 26%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    text-align: center;
    line-height: auto;
    text-transform: uppercase;
    color: #fff;
    font-family: $font-title-primary;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    padding: 20px;

    @include media-breakpoint-down(md) {
      top: 85%;
      left: 50%;
    }
  }
  
  a:hover{
    color: $color-secondary;
  }
  
  a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  $color-secondary;
    z-index: -1;
    transition: 0.5s;
    box-sizing: border-box;
  }
  
  a:hover:before{
    top:calc(100% - 2px);
  }
  
  a:after{
    content: '';
    position: absolute;
    top: calc(-100% + 2px);
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
    z-index: -1;
    transition: 0.5s;
    box-sizing: border-box;
  }
  
  a:hover:after{
    left: 0;
    transition-delay: 0.3s;
  
  }
  
  a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid $color-secondary;
    border-right: 2px solid $color-secondary;
    box-sizing: border-box;
    transform: scaleY(0);
    transform-origin: top;
    transition: .4s;
  }
    
  a:hover span{
    transform: scaleY(1);
    transition-delay: .4s;
  }
  
}
